<div class="jumbotron">
  <h1> View events</h1>
</div>

<br />
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Details</th>
  </tr>
 
  <% @events.each do |event| -%>
    <tr>
      <td><%= event.timestamp %></td>
      <td><%= event.user.login %></td>
      <td><%= event.details %></td>
    </tr>
  <% end -%>
</table>
