<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ezTSM</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search node">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Submit</button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% unless current_user.nil? -%>
          <%if current_user.is_admin -%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="adminDropDown" aria-haspopup="true" aria-expanded="true">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="adminDropDownMenu">
              <li><%= link_to 'Settings', admin_settings_path %></li>
              <li><%= link_to 'Manage users', admin_users_path %></li>
            </ul>
          </li>
          <%end -%>
        <%end -%>
        <%if current_user -%>
          <p class="navbar-text">Logged in as <%= current_user.login %></p>
          <li><%= link_to 'Log out', logout_path %></li>
        <%end -%>
      </ul>
    </div>
  </div>
</nav>
